<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<div class="container" id="main-container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-body col-12 col-md-10 col-lg-8">
                    <h5 class="card-title text-uppercase mb-0">Manage Cinemas</h5>
                    <br>




                </div>
                <div class="table-responsive ">
                    <table class="table no-wrap user-table mb-0 ">
                        <thead>
                            <tr>
                                <th scope="col " class="border-0 text-uppercase font-medium pl-4 ">#</th>
                                <th scope="col " class="border-0 text-uppercase font-medium pl-4 ">User</th>
                                <th scope="col " class="border-0 text-uppercase font-medium ">Movie name</th>
                                <th scope="col " class="border-0 text-uppercase font-medium ">Cinema name</th>
                                <th scope="col " class="border-0 text-uppercase font-medium ">Date and Time</th>
                                <th scope="col " class="border-0 text-uppercase font-medium ">Seat number</th>
                            </tr>
                        </thead>
                        <br>
                        <tbody>
                            <tr>

                                <td class="pl-4 ">1</td>

                                <td>
                                    <h6 class="font-medium mb-0 ">Asaf Novruzlu</h6>

                                </td>
                                <td>
                                    <h6 class="font-medium mb-0 ">Interstellar</h6>

                                </td>
                                <td>
                                    <h6 class="font-medium mb-0 ">Budapest Corvin Cinema</h6><br>

                                </td>

                                <td>
                                    <h6 class="font-medium mb-0 ">15 May 2021/ 10:20 AM</h6><br>

                                </td>
                                <td>
                                    <h6 class="font-medium mb-0 ">A4</h6><br>

                                </td>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>