<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<div class="container" id="main-container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-body col-12 col-md-10 col-lg-8">
                    <h5 class="card-title text-uppercase mb-0">Manage Movies</h5>
                    <br>

                    <form id="search-form">
                        <div class="card-body row ">

                            <div class="col-8 col-md-10 col-lg-8 p-4">
                                <input id="search" (ngModelChange)="searchMovie(key.value)" #key="ngModel" ngModel class="form-control" name="search" type="search" placeholder="Search...">
                            </div>

                            <div class="col-6 col-md-5 col-lg-4 p-4">

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMovieModal">
                                Add Movie
                              </button>
                            </div>
                            <!-- <a class="nav-link" (click)="onOpenModal(movies, 'add')">Add Movie <span class="sr-only">(current)</span></a> -->


                        </div>
                    </form>


                </div>
                <div class="table-responsive ">
                    <table class="table no-wrap user-table mb-0 ">
                        <thead>
                            <tr>
                                <th scope="col " class="border-0 text-uppercase font-medium pl-4 ">#</th>
                                <th scope="col " class="border-0 text-uppercase font-medium pl-4 ">Wallpaper</th>
                                <th scope="col " class="border-0 text-uppercase font-medium ">Movie Name</th>
                                <th scope="col " class="border-0 text-uppercase font-medium ">Description</th>
                                <th scope="col " class="border-0 text-uppercase font-medium ">Language</th>
                                <th scope="col " class="border-0 text-uppercase font-medium ">Release Date</th>
                                <th scope="col " class="border-0 text-uppercase font-medium ">Duration</th>
                                <th scope="col " class="border-0 text-uppercase font-medium ">Country</th>
                                <th scope="col " class="border-0 text-uppercase font-medium ">Genre</th>
                                <th scope="col " class="border-0 text-uppercase font-medium ">Manage</th>
                            </tr>
                        </thead>
                        <br>
                        <tbody>
                            <tr *ngFor="let movie of movies ">

                                <td class="pl-4 ">{{ movie.id }}</td>
                                <td>
                                    <a href=""><img src="{{movie?.imageURL}}" alt="" class="img-fluid" /></a>

                                </td>
                                <td>
                                    <h6 class="font-medium mb-0 ">{{ movie.movieName }}</h6>

                                </td>
                                <td>
                                    <h6 class="font-medium mb-0 ">{{ movie.movieDescription }}</h6>

                                </td>
                                <td>
                                    <h6 class="font-medium mb-0 ">{{ movie.language }}</h6><br>

                                </td>
                                <td>
                                    <h6 class="font-medium mb-0 ">{{ movie.releaseDate }}</h6><br>

                                </td>
                                <td>
                                    <h6 class="font-medium mb-0 ">{{ movie.movieDuration }}</h6><br>

                                </td>
                                <td>
                                    <h6 class="font-medium mb-0 ">{{ movie.countryName }}</h6><br>

                                </td>
                                <td>
                                    <h6 class="font-medium mb-0 ">{{ movie.genreName}}</h6><br>

                                </td>

                                <td>
                                    <button type="button" (click)="onOpenModal(movie,'edit')" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2 "><i class="fa fa-edit "></i> </button>
                                    <button type="button" (click)="onOpenModal(movie,'delete')" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2 "><i class="fa fa-trash "></i> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add Employee Modal -->
<div class="modal fade" id="addMovieModal" tabindex="-1" role="dialog" aria-labelledby="addMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMovieModalLabel">Add Movie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddMovie(addForm)">
                    <div class="form-group">
                        <label for="phone">Image URL</label>
                        <input type="text" ngModel name="imageURL" class="form-control" id="imageURL" placeholder="Image URL" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Movie Name</label>
                        <input type="text" ngModel name="movieName" class="form-control" id="movieName" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Movie Description</label>
                        <input type="text" ngModel name="movieDescription" class="form-control" id="movieDescription" placeholder="Movie Description" required>
                    </div>
                    <div class="form-group">
                        <label for="language">Language</label>
                        <input type="text" ngModel name="language" class="form-control" id="language" placeholder="Language" required>
                    </div>
                    <div class="form-group">
                        <label for="releaseDate">Release Date</label>
                        <input type="text" ngModel name="releaseDate" class="form-control" id="releaseDate" placeholder="Release Date" required>
                    </div>
                    <div class="form-group">
                        <label for="movieDuration">Movie Duration</label>
                        <input type="text" ngModel name="movieDuration" class="form-control" id="movieDuration" placeholder="Movie Duration" required>
                    </div>
                    <div class="form-group">
                        <label for="countryName">Country</label>
                        <input type="text" ngModel name="countryName" class="form-control" id="countryName" placeholder="Country Name" required>
                    </div>
                    <div class="form-group">
                        <label for="genreName">Genre</label>
                        <input type="text" ngModel name="genreName" class="form-control" id="genreName" placeholder="Genre Name" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-movie-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteMovieModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete Movie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete movie {{deletedMovie?.movieName}} </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeleteMovie(deletedMovie.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- (click)="onDeleteEmloyee(deleteEmployee?.id)" -->


<!-- Edit Modal -->
<div class="modal fade" id="editMovieModal" tabindex="-1" role="dialog" aria-labelledby="movieEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateMovieModalLabel">Edit Movie </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm" id="Update">
                    <div class="form-group">
                        <label for="movieName">Movie ImageURL</label>
                        <input type="text" ngModel="{{updateMovie?.imageURL}}" name="imageURL" class="form-control" id="imageURL" aria-describedby="emailHelp" placeholder="Movie Image">
                    </div>
                    <div class="form-group">
                        <label for="movieName">Movie Name</label>
                        <input type="text" ngModel="{{updateMovie?.movieName}}" name="movieName" class="form-control" id="movieName" aria-describedby="emailHelp" placeholder="Movie Name">
                    </div>
                    <div class="form-group">
                        <label for="movieDescription">Description</label>
                        <input type="text" ngModel="{{updateMovie?.movieDescription}}" name="movieDescription" class="form-control" id="movieDescription" aria-describedby="emailHelp" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <label for="language">Language</label>
                        <input type="text" ngModel="{{updateMovie?.language}}" name="language" class="form-control" id="language" aria-describedby="emailHelp" placeholder="Language">
                    </div>
                    <div class="form-group">
                        <label for="releaseDate">Release Date</label>
                        <input type="text" ngModel="{{updateMovie?.releaseDate}}" name="releaseDate" class="form-control" id="releaseDate" aria-describedby="emailHelp" placeholder="Release Date">
                    </div>
                    <div class="form-group">
                        <label for="movieDuration">Duration</label>
                        <input type="text" ngModel="{{updateMovie?.movieDuration}}" name="movieDuration" class="form-control" id="movieDuration" aria-describedby="emailHelp" placeholder="Duration">
                    </div>
                    <div class="form-group">
                        <label for="countryName">Country</label>
                        <input type="text" ngModel="{{updateMovie?.countryName}}" name="countryName" class="form-control" id="countryName" aria-describedby="emailHelp" placeholder="Country">
                    </div>
                    <div class="form-group">
                        <label for="genreName">Genre</label>
                        <input type="text" ngModel="{{updateMovie?.genreName}}" name="genreName" class="form-control" id="genreName" aria-describedby="emailHelp" placeholder="Genre">
                    </div>


                    <input type="hidden" ngModel="{{updateMovie?.id}}" name="id" class="form-control" id="id" placeholder="Id">



                    <div class="modal-footer">
                        <button type="button" id="closeButton" data-dismiss="modal" class="btn btn-secondary">Close</button>
                        <button (click)="onUpdateMovie(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>